
h1 {
    text-align: center;
}

.filter {
    margin-top: 1rem;
}

.filter ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.ckFilter-button {
    /*width: 15%;*/
    margin: 0.5rem 1rem;
    padding: .8rem 1rem;
    text-align: center;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.ckFilter-button.active {
    /*background-color: #4169e1;*/
    color: #4169e1;
}

.im {
    object-fit:fill; max-height: 100%; max-width: 100%; background-repeat: no-repeat;
}

.containerObj {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.ckFilter-obj {
    width: 99%;
    height: 200px;
    float: left;
    transition: all 3s;
    margin: 0.5%;
    padding: 0.5%;
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
    background: #4169e1;
}

.ckFilter-obj:hover {
    opacity: 1
}

.ckFilter-obj img {}

.ckFilter-obj .content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    visibility: hidden;
}


